# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @shreeshjha

# Frontend code
/frontend/ @shreeshjha @SamarthBhatia @Satvik200

# Backend code
/backend/  @shreeshjha @Satvik200 @SamarthBhatia

# Configuration files
*.json     @shreeshjha @Satvik200 @SamarthBhatia
*.yml      @shreeshjha @Satvik200 @SamarthBhatia
*.yaml     @shreeshjha @Satvik200 @SamarthBhatia


